*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root {
    --main-color: #b6e0f1;
    --contrast: #ce6d8b;
    --contrast-2: #CE2D4F;
    --darker-1: #4056F4;
    --darker-2: #470FF4;
    --valid: #57df1c;
    --invalid: #d81c1c;

}

.container {
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
}

.formControl {
    position: relative;
    margin-bottom: 25px;
}

.formControl label {
    display: inline-block;
    margin-bottom: 5px;
}

.formControl input {
    display: block;
    font-size: 1rem;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #000;
    width: 100%;
    margin-bottom: 15px;
}

.formControl input:invalid{
    border: 1px solid var(--invalid);
}

.formControl input:valid {
    border: 1px solid var(--valid);
}

.check {
    color: var(--valid);
}

.error {
    color: var(--invalid);
}

.formControl i {
    position: absolute;
    top: 30px;
    right: 5px;
    font-size: 1.25rem;
    visibility: hidden;
}

.formControl small {
    position: absolute;
    bottom: -18px;
    left: 5px;
}

.errMessage {
    visibility: hidden;
    color: var(--invalid);
    display: block;
}

.btn {
    background-color: var(--contrast);
    color: #fff;
    display: block;
    border-radius: 3px;
    width: 100%;
    border: solid var(--darker-2) 1px;
    font-size: 1.1rem;
}

